<div class="container">
  <div class="row ">
      <ul class="ds-btn">
          <li ng-repeat="item in langs">
              <a class="btn btn-lg btn-primary"
                        ng-click="click(langs.indexOf(item))" href="">
                    <i class="glyphicon glyphicon-list pull-left"></i>
                    <span>{{item.code}}</span>
              </a>
            </li>
        </ul>

  </div>
</div>

<div class="container">
  <div class="row">

 <!--
    Панель добавления языка
-->
    <div class="col-sm-6 col-md-6">
      <h2>Добавить:</h2>
      <span class="help-block"></span>


      <form name="language_add" ng-submit="addLanguage()" novalidate>

        <div class="">
          <b>Код ISO:</b>
        </div>

        <div class="">
            <input name="lang_add" ng-model="newLang.code" required="string" ngMaxlenght=3>
        </div>

        <span class="help-block"></span>

        <div ng-repeat="item in langs" class="input-group">

          <div class="">
            {{item.code}}:
          </div>
          <div class="">
            <input type="text" ng-model="newLang.names[item.code]" name="{{item.code}}">
            <span class="help-block"></span>
          </div>

        </div>

        <span class="help-block"></span>

        <div class="col-md-6 col-sm-6">
          <button ng-disabled="!language_add.lang_add.$dirty"
                  class="btn btn-lg btn-success btn-block" type="submit">
            Отправить
          </button>
        </div>

      </form>

    </div>

<!--
    Панель редактирования языка
 -->
    <div class="col-sm-6 col-md-6">
      <h2>Изменить:</h2>
      <span class="help-block"></span>
      <span class="help-block"></span>

      <form name="language_edit" ng-submit="" novalidate>

        <span class="" >
          <b>Код ISO:</b>
        </span>

        <div class="">
          <input name="lang_edit" ng-disabled="true" ng-model="modLang.code" >
        </div>

        <span class="help-block"></span>

        <div ng-repeat="item in langs" class="input-group">

          <div class="">
            {{item.code}}:
          </div>
          <div class="">
            <input type="text" ng-model="modLang.names[item.code]" name="{{item.code}}">
            <span class="help-block"></span>
          </div>

        </div>

        <span class="help-block"></span>

        <div class="row">
        <div class="col-md-6 col-sm-6">
          <button ng-disabled=""
                  class="btn btn-lg btn-warning btn-block"
                  ng-click="editLanguage()"type="submit">
                      Сохранить
          </button>
        </div>
        </div>

          <span class="help-block"></span>
        <div class="row">
        <div class="col-md-6 col-sm-6">
          <button ng-disabled=""
                  class="btn btn-lg btn-danger btn-block"
                  ng-click="removeLanguage()" type="submit">
                      Удалить
          </button>
        </div>
        </div>
      </form>

    </div>

  </div>
</div>
