<div class="text-justify">
    <p>
        Добро пожаловать в мир счастливых черепашек! Наши черепашки любят путешествовать,
        а значит им приходится много общаться со своими друзьями из других стран.
        В мире столько любопытных мест, столько необычных языков! Начинайте знакомиться
        с этим замечательным миром прямо сейчас, а мы вам в этом поможем.
    </p>

    <p>
        В нашем волшебном мире живут и изучают новые языки черепашки со всех стран нашей
        замечательной планеты. Вы будете общаться с ними, соревноваться и найдёте новых
        интересных друзей. Ну а если вы черепашка-учитель, то наша программа поможет
        вам составлять задания по совершенствованию словарного запаса ваших
        черепашек-учеников и контролировать их успехи. В добрый путь!
    </p>

    <div class="row col-sm-12">
        <p class="">
            <a class="btn btn- btn-primary" ui-sref="main">На главную</a>
        </p>
    </div>
</div>