<header ng-show="show_themes" >
    <div class="btn-group btn-group-justified hidden-xs">
        <a href="#" ng-repeat="lang in langs" ng-click="changeTargetLang($index)" class="btn"
           ng-class="{'btn-primary':btn[$index].state=='On','btn-info':btn[$index].state=='Off'}">
            {{lang.names[user_lang]}}
        </a>
    </div><!--для большого экрана-->
    <div class="btn-group btn-group-justified visible-xs-block">
        <a href="#" ng-repeat="lang in langs" ng-click="changeTargetLang($index)" class="btn"
           ng-class="{'btn-primary':btn[$index].state=='On','btn-info':btn[$index].state=='Off'}">
            {{lang.code}}
        </a>
    </div><!--для маленького экрана-->
</header><!--кнопочки-->

<article ng-show="show_themes" class="l-content-small grid-fluid docs-content">
    <div class="page-body visible-xs-block">
        <div>
            <ul>
                <li ng-repeat="theme in themes" class="c8">
                    <a href="#" ng-click="run(theme._id)" md-button="md-button" class="hover-card is-button has-icon">
                        <span class="hover-card-icon icon-number">{{$index+1}}</span>
                        <h3>{{theme.names[target_lang]}}</h3>
                        <p>{{theme.names[user_lang]}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div><!--для маленького экрана-->
    <div class="page-body hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li ng-repeat="theme in themes" class="c8" ng-show="$even">
                            <a href="#" ng-click="run(theme._id)" md-button="md-button"
                               class="hover-card is-button has-icon"
                                    ng-class=""
                                    >
                                <span class="hover-card-icon icon-number">{{$index+1}}</span>
                                <h3>{{theme.names[target_lang]}}</h3>
                                <p>{{theme.names[user_lang]}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            <div class="col-sm-6">
                <ul>
                    <li ng-repeat="theme in themes" class="c8" ng-show="$odd">
                        <a href="#" ng-click="run(theme._id)" md-button="md-button" class="hover-card is-button has-icon"
                                >
                            <span class="hover-card-icon icon-number">{{$index+1}}</span>
                            <h3>{{theme.names[target_lang]}}</h3>
                            <p>{{theme.names[user_lang]}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div><!--для большого экрана-->
</article><!--темы-->

<!-----------------------Main----------------------------------->

<div> </div>
<div ng-show="show_main" class="container">
    <!--Жизнь и прогресс-->
    <div class="row">
    
        <div class="col-sm-6 col-md-6">
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: {{Progress.value}}%"></div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-6">
            <!--<span class="pull-right" > количество жизней: {{Life.value}}</span>-->
            <div class="progress my-reverse-class">
                <div class="progress-bar progress-bar-success my-reverse-class" style="width: {{Life.value}}%"></div>
            </div>
        </div>
    
    </div>
    <!--Вопрос-->
    <div class="row">
        <div class="col-lg-4 col-sm-3 col-xs-1"></div>
        <div id="main_word" class="col-lg-4 col-sm-6 col-xs-10 text-center">
            <a href="#" ng-click="" md-button="md-button" class="hover-card is-button">
                <p class="help-block"></p>
                <h2 class="">{{word[target_lang]}}</h2>
            </a>
        </div>
        <div class="col-lg-4 col-sm-3 col-xs-1"></div>
    </div>
    <!--Варианты ответа-->
    <div class="row">
        <div ng-repeat="item in versions" class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" ng-click="shot(item._id)" md-button="md-button" class="hover-card is-button">
                <h3>{{versions[$index][user_lang]}}</h3>
            </a>
        </div>
    </div>
</div>

<!------------------Results------------->

<div ng-show="show_winner">
    <div class="text-justify">
        <p>
            Поздравляем, вы неплохо разбираетесь в этой теме!
        </p>
        <p>
            Проверьте себя в другой теме или возвращайтесь на главную страницу.
        </p>
        <p>&nbsp;</p>
        <div class="row col-sm-12">
            <p class="">
                <a class="btn btn- btn-primary" ui-sref="main">На главную</a>
            </p>
        </div>
    </div>
</div>
