
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div id="wrapper" class="frame" >
    <div   ng-show="login_form">
        <section class="login_content">
            <form method="post" name="login" action="/login" novalidate>
                <h1>Login Form</h1>
                <div>
                    <input ng-model="email" name="email" type="email" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    <input name="password" type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>

                    <button class="btn btn-default submit" ng-disabled="login.$pristine || login.email.$pristine
                                    || login.$invalid|| login.password.$pristine" href="#" type="submit">Log in</button>
                    <span>or use </span>
                    <a href="/connect/facebook" class="btn btn-default submit">
                        <i class="fa fa-facebook visible-xs"></i>
                        <i class="fa fa-facebook fa-lg hidden-xs"></i>
                    </a>
                    <a href="/connect/twitter" class="btn btn-default submit">
                        <i class="fa fa-twitter visible-xs"></i>
                        <i class="fa fa-twitter fa-lg hidden-xs"></i>
                    </a>
                    <a href="/connect/google" class="btn btn-default submit">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <i class="fa fa-google-plus fa-lg hidden-xs"></i>
                    </a>
                    <a href="/connect/vkontakte" class="btn btn-default submit">
                        <i class="fa fa-vk visible-xs"></i>
                        <i class="fa fa-vk fa-lg hidden-xs"></i>
                    </a>
                    <p class="help-block" ng-show="login.email.$invalid && !login.$pristine">
                        <em class="warning">Please enter correct email</em>
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">New to site?
                        <a ng-click="login_form=false" href="#" class="to_register"> Create Account </a>
                    </p>
                    <div>
                        <p><a  href="">Lost your password?</a></p>
                    </div>

                </div>
            </form>
            <!-- form -->
        </section>
        <!-- content -->
    </div>
    <div   ng-hide="login_form">
        <section class="login_content" >
            <form method="post" name="register" action="/signup">
                <h1>Create Account</h1>
                <div>
                    <input ng-model="email" type="email" name="email" class="form-control" placeholder="Email" required="" />
                </div>
                <div>
                    <input ng-model="password" type="password" name="password" class="form-control" placeholder="Password" />
                </div>
                <div>
                    <input ng-model="confirmation" type="password" name="confirmation" class="form-control"
                           placeholder="Confirm Password" ui-validate="'$value==password'" ui-validate-watch="'password'" />
                </div>
                <div>
                    <button class="btn btn-default submit" ng-disabled="register.$pristine || register.$invalid || register.email.$pristine
                                    || register.password.$pristine" type="submit">Submit</button>
                    <p class="help-block" ng-show="register.email.$invalid && register.email.$dirty">
                        <em class="warning">Please enter correct email</em>
                    </p>
                    <p class="help-block" ng-show="register.confirmation.$invalid && register.confirmation.$dirty">
                        <em class="warning">Entered passwords not match</em>
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">Already a member ?
                        <a ng-click="login_form=true"  href="#" class="to_register"> Log in </a>
                    </p>

                </div>
            </form>
            <!-- form -->
        </section>
        <!-- content -->
    </div>
</div>

