<div class="jumbotron">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <h2 style="font-family: 'Shadows Into Light', cursive; font-size: 30px;">Hello Everyone!</h2>
  <p class="lead" style="font-family: 'Shadows Into Light', cursive; font-size: 30px;">
    <img src="images/transparent_100x100.png"><br>
    Want to learn foreign words with fun?
  </p>


  <button type="button" ui-sref="free" class="btn btn-primary btn-md btn3d">Take a try</button>
  <button type="button" ui-sref="login" class="btn btn-success btn3d">I'm ready for the ride</button>


</div>
