<div class="jumbotron">
  <h1>Привет, Друзья!</h1>
  <p class="lead">
    <img src="images/transparent_100x100.png"><br>
    Хотите легко и весело изучать иностранные слова?
  </p>

  <p>
    <a class="btn btn-lg btn-primary" ui-sref="free">Попробовать</a>
    <a class="btn btn-lg btn-success" ui-sref="login">Я с вами! <span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>

<div class="row marketing">
  <div class="container">
    <p><span style="color:red" class="glyphicon glyphicon-heart"></span> <em>&nbsp; from the Lonley Wolf's team</em></p>
  </div>
</div>
